#ask_form {
	background: aliceblue;
	width: 550px;
	height: 450px;
	float: center;
	border: 1px dashed blue;
	border-radius: 5px;
	margin: 30px auto;
	padding: 15px;
}
		
#ask_form legend {
	text-align: center;
	color: navy;
	font-size: 25px;
	font-weight: bold;
	padding-bottom: 10px;	
}

.ask_form_list ul li {
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}

.ask_form_list label {
	float: left;  /* 왼쪽으로 배치 */
	font-size: 14px;  /* 글자 크기*/
	width: 110px;  /* 너비 - 110px */
}

.ask_form_list input:not([type=radio]) {  /* 가상 선택자를 사용해 간단히 줄일 수 있음 */
	border: 1px solid #ccc;  /* 텍스트 필드 테두리 지정 */
	border-radius: 3px;  /* 텍스트 필드 모서리를 둥글게 지정 */
	font-size: 13px;  /* 텍스트 필드 안의 글자 크기 지정 */
	padding: 5px;  /* 텍스트 필드와 내용 사이의 패딩 지정 */
	width: 200px;  /* 텍스트 필드 너비 지정 */
}					

.ask_form_list input[required], textarea[required] {  /* 필수 입력 필드의 스타일 */
	border:1px red solid;
}

.ask_form_list input[readonly] {  /* 읽기 전용 필드의 스타일 */
	border:none;
}

#ask_form fieldset {  /* fieldset의 스타일 */
	border:none;  /* 테두리 없앰 */
	margin-bottom:0;  /* 아래쪽 마진 없앰 */
}

#ask_form textarea {
	width: 100%;
	height: 150px;
	resize: none;
}

#ask_form fieldset button {
	background-color: lavender;
	border-radius: 5px;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: auto;
	padding: 8px 15px;
}

#contactform fieldset > p {
	font-size: 16px;
	color:  blue;
	text-align: center;
	margin: 15px;
}